---
layout: page
title: Recent Posts
tagline: Supporting tagline
---
{% include JB/setup %}

<div class="blog-index">
	<div class="posts">
		<ul>
  			{% for post in site.posts %}
	  			{% assign post = site.posts.first %}
	  			{% assign content = post.content %}
				{% if post.title %}
				    <li class="home"><p align="center">{{ post.date | date: '%d %B, %Y' }}</p> &raquo; <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
