<h2>{{ page.title }}</h2>
<p class="small">{{ page.date | date: '%d %B, %Y' }}</p>
<div class="posts">
	{{ content }}
</div>
	<!-- Signature -->
<a href="mailto:kinreven@gmail.com" target＝_blank><img src="https://www.evernote.com/shard/s65/sh/6e1f7f44-8a11-4c46-b38e-8a980466b2da/9b45ce3eb193fa55ad642dfa35e60178/res/e5addf7b-9315-44d9-9b22-d4245da84d7f/skitch.png" alt="图片" align="right"/>
<p><br><br /></p>
<div class="social">
	<!-- Override the URL and Title for the button -->
</div>
<div class="comments">
	{% include JB/comments %}
</div>
