---
layout: default
title: About | Kevin Ren's Blog
---

<div id="about" class="board">
  {% include archives-nav.html %}
  <h1><span class="glyphicon glyphicon-leaf"></span> About</h1>
  <hr>
  <h5><span class="glyphicon glyphicon-fire"></span> Who </h5>
  <p class="text-muted">
     I'm a Firmware developer from Chengdu, China.   
     I am working on File System and Multimedia engine   
     in Embedded System for 3 years, and instreseting   
     in hacking C Language, Shell, Perl and so on.    
  </p>
  <h5><span class="glyphicon glyphicon-fire"></span> What </h5>
  <p class="text-muted">

  </p>
  <hr>
  {% include footer.html %}
</div>
