---
layout: default
title: About | Kevin Ren's Blog
---

<div id="about" class="board">
  {% include archives-nav.html %}
  <h1><span class="glyphicon glyphicon-user"></span> About</h1>
  <hr>
  <h5><span class="glyphicon glyphicon-th-large"></span> 关于Kevin </h5>
  <p class="text-muted">
    <li>极简主义者 轻度强迫症 伪Geek</li>
    <li>C Language, Mac/Linux, Emacs 忠实粉丝</li>
    <li>专注于Embedded System Platform 软件开发</li>
    <li>"独立思考 自由开发 SOHO办公" 仅仅还是梦想</li>
  </p>
  <h5><span class="glyphicon glyphicon-envelope"></span> 联系Kevin </h5>
  <p class="text-muted">
    <li>Gmail: <a href="mailto:kinreven@gmail.com">kinreven@gmail.com</a></li>
    <li>Weibo: <a href="http://weibo.com/kinreven">http://weibo.com/kinreven</a></li>
  </p>
  <hr>
  <h5><span class="glyphicon glyphicon-envelope"></span> 发现Kevin </h5>
  <p class="text-muted">
    <li>Project on GitHub: <a href="http://github.com/kinreven">http://github.com/kinreven</a></li>
    <li>Resumes on GoogleDrive: <a href="https://drive.google.com/file/d/0B9ezmBSEh8NBOWpreHJEdDdCaGs/edit?usp=sharing">https://drive.google.com</a></li>
  </p>
  <hr>
  {% include footer.html %}
</div>
