---
layout: default
---
<div id="post" class="board">
  {% include archives-nav.html %}
  <h1><span class="glyphicon glyphicon-leaf"></span> Article</h1>
  <hr>
  <h4 class="article-title">
    <span class="glyphicon glyphicon-tint"></span> 文章标题：
    {{ page.title }}
  </h4>
  <p class="meta">
    <span class="glyphicon glyphicon-calendar"></span> 发表时间：
    {{ page.date | date: "%Y-%m-%d" }}
  </p>
  <hr>
  <div class="content">
  {{ content }}
  </div>
  <hr>
  {% include license.html %}
  <ul class="pager">
    {% if page.previous %}
      <li class="previous">
        <a href="{{ page.previous.url }}">上一篇：{{ page.previous.title }}</a>
      </li>
    {% else %}
      <li class="previous disabled">
        <a href="#">上一篇：没有了</a>
      </li>
    {% endif %}
    {% if page.next %}
      <li class="next">
        <a href="{{ page.next.url }}">下一篇：{{ page.next.title }}</a>
      </li>
    {% else %}
      <li class="next disabled">
        <a href="#">下一篇：没有了</a>
      </li>
    {% endif %}
  </ul>
  <hr>
  {% include footer.html %}
</div>